<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/RcNfwZ4ESiyhmiqVh3fl_tumblr_n6emz6dFc11sg7jo9o1_250.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="home" id="login-button1" style="font-weight:500;" class="button button-dark  button-block button-outline">Log in</a>
      <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>