<ion-view title="Settings" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="settings-form8" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Weather</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Wind Force</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Temperature</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle4">Percentage Sunshine</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Sunrise and Sunset</ion-toggle>
    </form>
  </ion-content>
</ion-view>