<ion-view title="UV Forecast" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="uVForecast-form4" class="list">
      <label class="item item-input" id="uVForecast-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Places">
      </label>
    </form>
    <div id="uVForecast-markdown7" class="show-list-numbers-and-dots"></div>
    <div id="uVForecast-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:19px;">Bacolod City</p>
    </div>
    <div id="uVForecast-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:10px;"> January 22, 2017 Saturday
      </p>
    </div>
    <h3 id="uVForecast-heading7" style="color:#000000;font-weight:300;">Today</h3>
    <div>
      <img src="img/Onb6c7lRzWYHI8eGkDWx_Capture.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="uVForecast-heading9" style="color:#000000;text-align:center;">Activities</h5>
    <div>
      <img src="img/UpXB6YcSrqqhBBquewQT_5.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>